:root {
    --brand: rgba(219, 169, 39, .8);
}

.bg-brand {
    background: var(--brand);
}

.avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

body {
    background: #efefef;
}

.mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Roboto Mono",
        "Source Code Pro", "Noto Sans Mono CJK JP", "Noto Sans Mono", monospace;
}

.small {
    font-size: .9rem;
}
